<p><a href="/games/<%=@game.id%>">Back</a></p>


<table>
  <tr>
    <th>Rental Number</th>
    <th>Due Date</th>
    <th>Customer</th>
  </tr>
  <% for rental in @rentals %>
  <% if rental.rental_status == "Renting" %>
  <tr>
    <td><%= rental.id%>
    <a href="/rentals/<%=rental.id%>">View Rental</a></td>
    <td><%= rental.display_due_date%></td>
    <td><% name = Customer.find(rental.customer_id)%><%= name.name %>
    <a href="/customers/<%=rental.customer_id%>">View Customer</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
