<p><a href="/games/<%=@game.id%>">Back</a></p>

<form method="post" action="/games/<%= @game.id %>">

  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="<%= @game.title %>"/>

  <label for="console">Console</label>
  <input type="text" id="console" name="console" value="<%= @game.console %>"/>

  <label for="genre">Genre</label>
  <input type="text" id="genre" name="genre" value="<%= @game.genre %>"/>

  <label for="quantity">In Stock</label>
  <input type="text" id="quantity" name="quantity" value="<%= @game.quantity %>"/>

  <label for="image">Image URL</label>
  <input type="text" id="image" name="image" value="<%= @game.image %>"/>

  <input type="submit" value="Save">

</form>
