<h2>Games</h2>
<a href="/games/new">Add Game</a>
<hr>
<div class="parent-box">

<div class ="single-box">



<table>


  <tr>
    <th></th>
    <th>Title</th>
    <th>Console</th>
    <th>Genre</th>
    <th>In Stock</th>
  </tr>
  <% for game in @games %>
  <tr>
    <td><img src="<%= game.image%>" height="150"/></td>
    <td><%= game.title %><a href="/games/<%=game.id%>">View Game</a></td>
    <td><%= game.console %></td>
    <td><%= game.genre %></td>
    <td><%= game.quantity %></td>
  </tr>
  <% end %>
</table>

</div>

</div>
