<p><a href="/games/<%=@game.id%>">Back</a></p>

<% for rental in @rentals %>
<p>Rental Number: <%= rental.id%>
<a href="/rentals/<%=rental.id%>">View Rental</a></p>
<p>Customer: <% name = Customer.find(rental.customer_id)%><%= name.name%>
<a href="/customers/<%=rental.customer_id%>">View Customer</a></p>
<hr>
<% end %>
