<p><a href="/games/<%=@game.id%>">Back</a></p>


<table>
  <tr>
    <th>Rental Number</th>
    <th>Rental Status</th>
    <th>Customer</th>
  </tr>
<% for rental in @rentals %>
  <tr>
    <td><%= rental.id%>
    <a href="/rentals/<%=rental.id%>">View Rental</a></td>
    <td><%= rental.rental_status %></td>
    <td><% name = Customer.find(rental.customer_id)%><%= name.name%>
      <a href="/customers/<%=rental.customer_id%>">View Customer</a></td>
  </tr>
  <% end %>
</table>
