<p><a href="/games">Back</a></p>
<hr>
<img src="<%= @game.image%>" height="150"/>
<p>Title: <%= @game.title %></p>
<p>Console: <%= @game.console %></p>
<p>Genre: <%= @game.genre %></p>
<p>In Stock: <%= @game.quantity %></p>


  <form action="/games/<%= @game.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
  <form method="post" action="/games/<%= @game.id %>/delete" >
    <input type="submit" value="Delete">
  </form>
  <form method="get" action="/games/<%= @game.id %>/current_rentals" >
    <input type="submit" value="View Current Rentals">
  </form>
  <form method="get" action="/games/<%= @game.id %>/rentals" >
    <input type="submit" value="View Rental History">
  </form>
