<br>
<!-- <form action="/rentals/">
    <input type="text" placeholder="Enter Rental Id.." name="id">
    <button type="submit">Search</button>
</form> -->

<div class="scrollmenu">
  <% for game in @games %>
  <a href="/games/<%= game.id %>"><img src="<%= game.image %>" height="150"></a>
  <% end %>
</div>
<section class="home">
<div class="home_boxes">
<h2>Current Rentals</h2>
<hr>
<div class="box-content">
  <% for rental in @rentals %>
  <% if rental.rental_status == "Renting" && (rental.overdue == nil)%>
  <p>Rental Number: <%= rental.id %> <a href="/rentals/<%= rental.id %>">View Rental</a></p>
  <p>Customer: <% customer = Customer.find(rental.customer_id) %><%= customer.name%>
  <a href="/customers/<%= customer.id %>">View Customer</a></p>
  <p>Game: <% game = Game.find(rental.game_id)%><%= game.title %>
  <a href="/games/<%= game.id %>">View Game</a></p>
  <p>Days Left: <%= rental.days_due%></p>
  <br>
  <hr>
  <% end %>
  <% end %>
  <hr>
</div>
</div>

<div class="home_boxes">
  <h2>Overdue Rentals</h2>
  <hr>
  <div class="box-content">
    <% for rental in @rentals %>
    <% if rental.overdue && (rental.returned == nil) %>
    <p>Rental Number: <%= rental.id %> <a href="/rentals/<%= rental.id %>">View Rental</a></p>
    <p>Customer: <% customer = Customer.find(rental.customer_id) %><%= customer.name%>
    <a href="/customers/<%= customer.id %>">View Customer</a></p>
    <p>Game: <% game = Game.find(rental.game_id)%><%= game.title %>
    <a href="/games/<%= game.id %>">View Game</a></p>
    <p>Days Overdue: <%= rental.days_due.abs%></p>
    <br>
    <hr>
    <% end %>
    <% end %>
  </div>
</div>

<div class="home_boxes">
  <div class="box-content">
    <h2>Low Stock</h2>
    <hr>
    <% for game in @games %>
    <% if game.quantity < 10 %>
    <p>Game: <%= game.title %> <a href="/games/<%= game.id %>">View Game</a></p>
    <p>Stock Left: <%= game.quantity%></p>
    <br>
    <hr>
    <% end %>
    <% end %>
  </div>
</div>
</section>
