<a href="/rentals/new">Add Rental</a>
<hr>

<div>
<h2>Current Rentals</h2>
<% for rental in @rentals %>
<% if rental.rental_status == "Renting" && (rental.overdue == nil)%>
<p>Rental Number: <%= rental.id %> <a href="/rentals/<%= rental.id %>">View Rental</a></p>
<p>Customer: <% customer = Customer.find(rental.customer_id) %><%= customer.name%>
<a href="/customers/<%= customer.id %>">View Customer</a></p>
<p>Game: <% game = Game.find(rental.game_id)%><%= game.title %>
<a href="/games/<%= game.id %>">View Game</a></p>
<p>Rental Period: <%= rental.rental_period %> Days</p>
<p>Days Left: <%= rental.days_due%></p>
<hr>
<% end %>
<% end %>
<hr>
</div>

<div>
<h2>Overdue Rentals</h2>
<% for rental in @rentals %>
<% if rental.overdue && (rental.returned == nil) %>
<p>Rental Number: <%= rental.id %> <a href="/rentals/<%= rental.id %>">View Rental</a></p>
<p>Customer: <% customer = Customer.find(rental.customer_id) %><%= customer.name%>
<a href="/customers/<%= customer.id %>">View Customer</a></p>
<p>Game: <% game = Game.find(rental.game_id)%><%= game.title %>
<a href="/games/<%= game.id %>">View Game</a></p>
<p>Rental Period: <%= rental.rental_period %> Days</p>
<p>Days Overdue: <%= rental.days_due.abs%></p>
<hr>
<% end %>
<% end %>
</div>
