<form method="post" action="/rentals/<%= @rental.id %>">

  <label for="customer_id">Customer</label>
  <select name="customer_id">
    <% for customer in @customers %>
    <option value="<%= customer.id %>"><%= customer.name %></option>
    <% end %>
  </select>

  <label for="game_id">Game</label>
  <select name="game_id">
    <% for game in @games %>
    <option value="<%= game.id %>"><%= game.title %></option>
    <% end %>
  </select>

  <label for="rental_period">Rental Period
  <input type="number" id="rental_period" name="rental_period" value="<%=@rental.rental_period%>"/>
    days</label>

  <label for="rental_status">Rental Status</label>
  <select name="rental_status">
    <option value="<%=@rental.rental_status%>"></option>
    <option value="Renting">Renting</option>
    <option value="Returned">Returned</option>
  </select>
  <input type="submit" value="Save">

  <label for="date_rented">Date Rented</label>
  <input type="date" id="date_rented" name="date_rented" value="<%= @rental.date_rented%>">

</form>
