<a href="rentals/new">Add Rental</a>
<hr>
<% for rental in @rentals %>
<p>Rental Number: <%= rental.id %></p>
<p>Customer: <% customer = Customer.find(rental.customer_id) %><%= customer.name%>
<a href="/customers/<%= customer.id %>">Select Customer</a></p>
<p>Game: <% game = Game.find(rental.game_id)%><%= game.title %>
<a href="/games/<%= game.id %>">Select Game</a></p>
<p>Rental Period: <%= rental.rental_period %></p>
<p>Rental Status: <%= rental.rental_status %></p>
<p><a href="/rentals/<%= rental.id %>">Select Rental</a></p>
<hr>
<% end %>
