<h2>Rentals</h2>
<div class="lower-nav">
<a href="/rentals/new">Add Rental</a>
</div>
<br>
<hr>
<div class="parent-box">
<div class="single-box">
<table>
<tr>
  <th>Rental Number</th>
  <th>Customer</th>
  <th>Game</th>
  <th>Rental Period</th>
  <th>Rental Status</th>
  <th>Date Rented</th>
</tr>
<% for rental in @rentals %>
<tr>
<td><%= rental.id %>
<a href="/rentals/<%= rental.id %>">Select Rental</a></td>
<td><% customer = Customer.find(rental.customer_id) %><%= customer.name%>
<a href="/customers/<%= customer.id %>">View Customer</a></td>
<td><% game = Game.find(rental.game_id)%><%= game.title %>
<a href="/games/<%= game.id %>">View Game</a></td>
<td><%= rental.rental_period %> Days</td>
<td><%= rental.rental_status %></td>
<td><%= rental.date_rented %></td>
</tr>
<% end %>
</table>

</div>

</div>
