<% for rental in @rentals %>
<p>Rental Number: <%= rental.id %></p>
<p>Customer: <%= rental.customer_id %></p>
<p>Game: <%= rental.game_id %></p>
<p>Rental Period: <%= rental.rental_period %></p>
<p>Rental Status: <%= rental.rental_status %></p>
<p><a href="/rentals/<%= rental.id %>">Select Rental</a></p>
<hr>
<% end %>
