<p>Rental Number: <%= @rental.id %></p>
<p>Customer: <%= @customer.name %> <a href="/customers/<%= @customer.id %>">Select Customer</a></p>
<p>Game: <%= @game.title %> <a href="/games/<%= @game.id %>">Select Game</a></p>
<p>Rental Period: <%= @rental.rental_period %></p>
<p>Rental Status: <%= @rental.rental_status %></p>


  <form action="/rentals/<%= @rental.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
  <form method="get" action="/rentals/<%= @rental.id %>/delete" >
    <input type="submit" value="Delete">
  </form>
  <form action="/rentals/<%= @rental.id %>/return" method="get">
    <input type="submit" value="Return">
  </form>
