<table>
  <tr>
    <th>Rental Number</th>
    <th>Customer:</th>
    <th>Game:</th>
    <th>Rental Period</th>
    <th>Rental Status</th>
    <th>Date Rented</th>

  </tr>

  <tr>
    <td><%= @rental.id %></td>
    <td><%= @customer.name %></td>
    <td><%= @game.title %></td>
    <td><%= @rental.rental_period %></td>
    <td><%= @rental.rental_status %></td>
    <td><%= @rental.date_rented %></td>
  </tr>

</table>

<p><a href="/customers/<%= @customer.id %>">Select Customer</a>
  <a href="/games/<%= @game.id %>">Select Game</a></p>



  <form action="/rentals/<%= @rental.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
  <form method="get" action="/rentals/<%= @rental.id %>/delete" >
    <input type="submit" value="Delete">
  </form>
  <form action="/rentals/<%= @rental.id %>/return" method="get">
    <input type="submit" value="Return">
  </form>
