<p><a href="/customers/<%=@customer.id%>">Back</a></p>
<h2>Current Rentals</h2>

<table>

  <tr>
    <th>Rental Number</th>
    <th>Due Date</th>
    <th>Game</th>
  </tr>
  <% for rental in @rentals %>
  <% if rental.rental_status == "Renting" %>
  <tr>
<td><%= rental.id%>
<a href="/rentals/<%=rental.id%>">View Rental</a></td>
<td><%= rental.display_due_date%></td>
<td><% title = Game.find(rental.game_id)%><%= title.title %>
<a href="/games/<%=rental.game_id%>">View Game</a></td>
  </tr>
  <% end %>
  <% end %>

</table>
