<p><a href="/customers/<%=@customer.id%>">Back</a></p>

<% for rental in @rentals %>
<% if rental.rental_status == "Renting" %>
<p>Rental Number: <%= rental.id%>
<a href="/rentals/<%=rental.id%>">View Rental</a></p>
<p>Due Date: <%= rental.display_due_date%>
<p>Game: <% title = Game.find(rental.game_id)%><%= title.title %>
<a href="/games/<%=rental.game_id%>">View Game</a></p>
<hr>
<% end %>
<% end %>
