<h2>Customers</h2>
<a href="/customers/new">Add Customer</a>
<hr>

<div class="parent-box">

<div class ="single-box">

<table>

  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% for customer in @customers %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td><a href="/customers/<%= customer.id %>/rentals">Rental History</a></td>
    <td><a href="/customers/<%= customer.id %>/current_rentals">Current Rentals</a></td>
    <td><a href="/customers/<%= customer.id %>">Select Customer</a></td>
  </tr>
<% end %>
</table>
  </div>
  </div>
