<p><a href="/customers/<%=@customer.id%>">Back</a></p>

<% for rental in @rentals %>
<p>Rental Number: <%= rental.id%>
<a href="/rentals/<%=rental.id%>">View Rental</a></p>
<p>Rental Status: <%= rental.rental_status%>
<p>Game: <% title = Game.find(rental.game_id)%><%= title.title %>
<a href="/games/<%=rental.game_id%>">View Game</a></p>
<hr>
<% end %>
